<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
     <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="ApplicationServices" connectionString="data source=120.138.10.16,1433;Integrated Security=true; Initial Catalog= BrownAndGreens_test; User Id= bng_test; Password= gnb!@#4;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <appSettings>
     
       <add key="SZConn" value="Data Source=sirez-server2\db2008;Initial Catalog=BrownAndGreens;User ID=sa;Password=B1Admin"></add> 
      <add key="ApplicationServices" value="Data Source=120.138.10.16,1433;Initial Catalog=BrownAndGreens_test;User ID=bng_test;Password=gnb!@#4"></add>
      <add key="token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31Aem8jFOySeDRGjEs7RmmhBJ3UuTU"/>
    <add key="paypalemail" value="raju.gupta@sirez.com"/>
    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
      
      
    <!--<add key="token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AmErNV8ujsergN.MxNCkgmb9TVWR"/>
    <add key="paypalemail" value="manpreet.singh@brownandgreens.com.au"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>
    <add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>-->
      <add key="token" value="AFcWxV21C7fd0v3bYYYRCpSSRl31A8upmjDaYA3y-hzvIvSMPr-S8u0w"/>
    <add key="paypalemail" value="admin-facilitator@contentmarketingsummit.org"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>
    <add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>
    
    <!--<add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://localhost:49666/PayPalIntegration/Failed.aspx"/> --><!--Failed Page URL--><!--
    <add key="SuccessURL" value="http://localhost:49666/Default.aspx"/> --><!--Success Page URL-->
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>